<div class="all-body">
  <div id="challenge-description">
    <div>Start typing the texty below to see how fast your fingers are :)</div>
  </div>
  <div class="initial-section">
    <button id="start-button" class="button" (click)="start()">Start</button>
  </div>
  <div class="main-section" id="main-section">
    <span id="text">
      This is it
      <!-- Learn one way to build applications with Angular and reuse your code and
    abilities to build apps for any deployment target. For web, mobile web,
    native mobile and native desktop. Achieve the maximum speed possible on the
    Web Platform today, and take it further, via Web Workers and server-side
    rendering. Angular puts you in control over scalability. Meet huge data
    requirements by building data models on RxJS, Immutable.js or another
    push-model. From prototype through global deployment, Angular delivers the
    productivity and scalable infrastructure that supports Google's largest
    applications. -->
    </span>
    <div class="timer" id="timer">
      <p>{{ timeTaken }}</p>
    </div>
  </div>
</div>
<!-- <div class="timer" id="timer">
  <p>{{ timeTaken }}</p>
</div> -->

<router-outlet></router-outlet>
