<!DOCTYPE html>
<div class="all-body">
  <div id="challenge-description">
    <div id="header-text">
      Start typing the texty below to see how fast your fingers are :)
    </div>
  </div>
  <div class="initial-section">
    <button id="start-button" class="button" (click)="start()">Start</button>
  </div>
  <div class="main-section" id="main-section">
    <span id="text"> </span>
    <div class="timer" id="timer">
      <div class="clock-box">
        <p>{{ timeTaken }}</p>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
